{#{% extends "app/layout.html" %}#}
{#{% load static %}#}
{#{% block content %}#}
<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vinay Kanth Devu</title>
    <link rel="icon" href="{% static 'app/img/favicon.jpg' %}" type="image/x-icon">
    <!-- Bootstrap -->
    <link href= "{% static 'app/css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'app/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'app/css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'app/css/aos.css' %}" rel="stylesheet">
    <!-- main style -->
    <link href="{% static 'app/css/style.css' %}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div id="status">

            <div class="preloader" aria-busy="true" aria-label="Loading, please wait." role="progressbar">
            </div>

        </div>
    </div>
    <!-- ./Preloader -->

    <!-- header -->
    <header class="navbar-fixed-top">
        <nav>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#experience">experience</a></li>
                <li><a href="#education">education</a></li>
                <li><a href="#projects">projects</a></li>
                <li><a href="#contact">contact</a></li>
            </ul>
        </nav>
    </header>
    <!-- ./header -->

    <!-- home -->
    <div class="section" id="home" data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="disply-table">
                <div class="table-cell" data-aos="fade-up" data-aos-delay="0">
                    <h4>Vinay Kanth Devu</h4>
                    <h1>Software<br /> Developer</h1> </div>
            </div>
        </div>
    </div>
    <!-- ./home -->
    
    <!-- about -->
    <div class="section" id="about">
        <div class="container">
            <div class="col-md-6" data-aos="fade-up">
                <h4>01</h4>
                <h1 class="size-50">Know <br /> About me</h1>
                <div class="h-50"></div>
                <p>An innovative and committed graduate with a passion to have a growth-oriented and challenging career in the domain of Software and Web Development, Cloud to fully utilize my knowledge, experience, and skills while making a significant contribution to the company.</p>
                <p>I had the privilege and opportunity to attend as the Student Representative, Blekinge County to attend the India President’s first ever visit to Sweden, which was held on 1st June 2015 in Stockholm.</p>
                <div class="h-50"></div> <img src="{% static "app/img/Signature.svg" %}" width="230" alt="" />
                <div class="h-50"></div>
            </div>
            <div class="col-md-6 about-img-div">
                <div class="about-border" data-aos="fade-up" data-aos-delay=".5"></div>
                <img src="{% static "app/img/about-img.jpg" %}" width="400" class="img-responsive" alt="" align="right" data-aos="fade-right" data-aos-delay="0" />
            </div>
        </div>
    </div>
    <!-- ./about -->
    <!-- experience  -->
    <div class="section" id="experience">
        <div class="container">
            <div class="col-md-12">
                <h4>02</h4>
                <h1 class="size-50">My <br /> Experience</h1>
                <div class="h-50"></div>
            </div>
            <div class="col-md-12">
                <ul class="timeline">
                    <li class="timeline-event" data-aos="fade-up">
                        <label class="timeline-event-icon"></label>
                        <div class="timeline-event-copy">
                            <p class="timeline-event-thumbnail">March 2018 - Present</p>
                            <h3>Software Developer & Tester</h3>
                            <h4>One Planet Rating, Stockholm</h4>
                            <p>My role involves modifying and extending current app features, implementing new features for the web application using Django framework in Python.
                                <br>Testing, for quality assuring codes, deploying the features to Amazon EC2 production server.
                                <br />
                                <br />
                                <br><strong>Tools: Python, Django, AWS, Git, Linux, Git Bash PuTTY, WinSCP, Valentina Studio, Bitbucket, pgAdmin, Trello, Slack, PostgreSQL, SQLite.</strong></p>
                        </div>
                    </li>
                    <li class="timeline-event" data-aos="fade-up" data-aos-delay=".2">
                        <label class="timeline-event-icon"></label>
                        <div class="timeline-event-copy">
                            <p class="timeline-event-thumbnail">February 2017 – March 2018</p>
                            <h3>Microsoft Consultant</h3>
                            <h4>Zen3 Info Solutions, Hyderabad</h4>
                            <p>My role involves Curating and Validating Entities of various businesses in Australia, Britain and Indian markets of Microsoft Projects like HEC, Rushmore, Bing Ad Relevance, etc.
                            <br>Participated in Client, Product Owner meetings held at Microsoft Office, Hyderabad.
                            <br />
                                <br />
                                <br><strong>Tools: UHRS, Psyche Tool, Lean, MS Office.</strong></p>
                        </div>
                    </li>
                    <li class="timeline-event" data-aos="fade-up" data-aos-delay=".4">
                        <label class="timeline-event-icon"></label>
                        <div class="timeline-event-copy">
                            <p class="timeline-event-thumbnail">August 2016 – December 2016</p>
                            <h3>Softhouse AB, Karlskrona</h3>
                            <h4>Software Craftsmanship Trainee</h4>
                            <p>	Worked as "Software Craftsman" under the "Partnership for industries and international students" project in collaboration with BTH & Softhouse AB.
                                <br>Worked as a member of a Scrum team of 6 implementing Agile Methodology.
                                <br>Our team had worked on creating a Web-based application “Activity Time Tracking System”.
                                <br />
                                <br />
                            <strong>Tools: Java, IntelliJ IDEA, Junit, Git, HTML, CSS, JavaScript, H2, MySQL</strong></p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- ./experience -->
    <!-- education -->
        <div class="section" id="education">
        <div class="container">
            <div class="col-md-12">
                <h4>03</h4>
                <h1 class="size-50">My <br /> Education</h1>
                <div class="h-50"></div>
            </div>
            <div class="col-md-12">
                <ul class="timeline">
                    <li class="timeline-event" data-aos="fade-up">
                        <label class="timeline-event-icon"></label>
                        <div class="timeline-event-copy">
                            <p class="timeline-event-thumbnail">2011 - 2015</p>
                            <h3>Master of Science, M.Sc. (120 Hp)</h3>
                            <h4>Blekinge Institute of Technology, Karlskrona</h4>
                            <h5><strong>Master Thesis – 3D Object Reconstruction using XBOX Kinect V2.0</strong></h5>
                        </div>
                    </li>
                    <li class="timeline-event" data-aos="fade-up" data-aos-delay=".2">
                        <label class="timeline-event-icon"></label>
                        <div class="timeline-event-copy">
                            <p class="timeline-event-thumbnail">2015 - 2017</p>
                            <h3>Bachelor of Science, B.Sc. (180 Hp)</h3>
                            <h4>University College of Engineering, Kakinada</h4>
                            <h5><strong>Bachelor Thesis – Comparison of Various Lossless Data Compression Techniques</strong></h5>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- education -->
    <!-- projects -->
    <div class="section" id="projects">
        <div class="container">
            <div class="col-md-12">
                <h4>04</h4>
                <h1 class="size-50">My <br /> Projects</h1> 
            </div>
            <!-- main container -->
            <div class="main-container portfolio-inner clearfix">
                <!-- portfolio div -->
                <div class="portfolio-div">
                    <div class="portfolio">
                         <!--portfolio_filter -->
                        <div class="categories-grid wow fadeInLeft">
                            <nav class="categories">
                                <ul class="portfolio_filter">
                                    <li><a href="" class="active" data-filter="*">All</a></li>
                                    <li><a href="" data-filter=".masters">Master's</a></li>
                                    <li><a href="" data-filter=".bachelors">Bachelor's</a></li>
                                    <!--<li><a href="" data-filter=".graphics">Graphics</a></li>-->
                                    <!--<li><a href="" data-filter=".ads">Advertising</a></li>-->
                                    <!--<li><a href="" data-filter=".fashion">Fashion</a></li>-->
                                </ul>
                            </nav>
                        </div>
                         <!--portfolio_filter -->

                        <!-- portfolio_container -->
                        <div class="no-padding portfolio_container clearfix" data-aos="fade-up">
                            <!-- single work -->
                            <div class="col-md-4 col-sm-6 bachelors">
                                <a id="demo01" href="#animatedModal" class="portfolio_item"> <img src="{% static 'app/img/portfolio/01.jpg' %}" alt="image" class="img-responsive" />
                                    <div class="portfolio_item_hover">
                                        <div class="portfolio-border clearfix">
                                            <div class="item_info"> <span>Robotic Arm</span> <em>(2012 - 3 Months)</em> </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- end single work -->

                            <!-- single work -->
                            <div class="col-md-4 col-sm-6 bachelors">
                                <a id="demo02" href="#animatedModal" class="portfolio_item"> <img src="{% static 'app/img/portfolio/03.jpg' %}" alt="image" class="img-responsive" />
                                    <div class="portfolio_item_hover">
                                        <div class="portfolio-border clearfix">
                                            <div class="item_info"> <span>Comparison of Loss Less Data Compression Techniques using Various Parameters</span> <em>(2014 - 6 Months)</em> </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- end single work -->

                            <!-- single work -->
                            <div class="col-md-4 col-sm-6 masters">
                                <a id="demo03" href="#animatedModal" class="portfolio_item"> <img src="{% static 'app/img/portfolio/02.jpg' %}" alt="image" class="img-responsive" />
                                    <div class="portfolio_item_hover">
                                        <div class="portfolio-border clearfix">
                                            <div class="item_info"> <span>3D Object Reconstruction Using XBOX Kinect V2.0</span> <em>(2016 - 6 Months)</em> </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- end single work -->

                            <!-- single work -->
                            <div class="col-md-4 col-sm-6 masters">
                                <a id="demo04" href="#animatedModal" class="portfolio_item"> <img src="{% static 'app/img/portfolio/04.jpg' %}" alt="image" class="img-responsive" />
                                    <div class="portfolio_item_hover">
                                        <div class="portfolio-border clearfix">
                                            <div class="item_info"> <span>Hand Gesture Recognition using Morphological Operations</span> <em>(2015 – 4 Months)</em> </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <!-- end single work -->
                        </div>
                        <!-- end portfolio_container -->
                    </div>
                    <!-- portfolio -->
                </div>
                <!-- end portfolio div -->
            </div>
            <!-- end main container -->
        </div>
    </div>
    <!-- ./projects -->
    <!-- contact -->
    <div class="section" id="contact">
        <div class="container">
            <div class="col-md-12">
                <h4>05</h4>
                <h1 class="size-50">Contact  Me</h1>
                <div class="h-50"></div>
            </div>
            <div class="col-md-4" data-aos="fade-up">

                <h3>Phone Number</h3>
                <p>+46-767448316</p>
                <h3> Mobile Number</h3>
                <p>+46-767553115</p>
                <h3>Email</h3>
                <p>devuvinaykanth@gmail.com</p>

                <h3>Social Network</h3>

                <ul class="social">
                    <li><a href="https://www.linkedin.com/in/vinay-kanth-devu/"><i class="ion-social-linkedin"></i></a></li>
                    <li><a href="https://www.instagram.com/vinay459_cc/"><i class="ion-social-instagram"></i></a></li>
                    <li><a href="https://www.facebook.com/Vinaykanthdevu"><i class="ion-social-facebook"></i></a></li>
                    <li><a href="https://twitter.com/iamvinaykanth"><i class="ion-social-twitter"></i></a></li>
                </ul>
                <div class="clearfix"></div>
                <div class="h-50"></div>
            </div>
            <div class="col-md-8" data-aos="fade-up">
                <form class="contact-bg" id="contact-form" name="contact" method="post" action="process.php">
                    <input type="text" name="name" class="form-control" placeholder="Your Name" />
                    <input type="email" name="email" class="form-control" placeholder="Your E-mail" />
                    <input type="text" name="phone" class="form-control" placeholder="Phone Number" />
                    <textarea name="message" class="form-control" placeholder="Your Message" style="height:120px"></textarea>
                    <button id="submit" type="submit" name="submit" class="btn btn-glance">Send</button>
                    <div id="success">
                        <p class="green textcenter"> Your message was sent successfully! I will be in touch as soon as I can. </p>
                    </div>
                    <div id="error">
                        <p> Something went wrong, try refreshing and submitting the form again. </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- ./contact -->

     <!--DEMO01-->
    <div id="animatedModal" class="popup-modal">
        <!--THIS IS IMPORTANT! to close the modal, the class name has to match the name given on the ID -->
        <div id="btn-close-modal" class="close-animatedModal close-popup-modal"> <i class="ion-close-round"></i> </div>
            <div class="clearfix"></div>
                <div class="modal-content">
                    <div class="container">
                        <div class="portfolio-padding">
                            <div class="col-md-8 col-md-offset-2">
                                <h2>Robotic Arm</h2>
                                <div class="h-50"></div>
                                <br /> <img src="{% static 'app/img/portfolio/01.jpg' %}" alt="" class="img-responsive" />
                                <br />
                                <p><strong>Motive:</strong> Robotic Arm is developed using 3 gear head stepper motors.</p>
                                <p><strong>Tools:</strong> C, Embedded C. Hex file is dumped to 8051 Microcontrollers.</p>
                                <br />
                                <br />

                                <h2>Comparison of Loss Less Data Compression Techniques using Various Parameters</h2>
                                <div class="h-50"></div>
                                <br /> <img src="{% static 'app/img/portfolio/03.jpg' %}" alt="" class="img-responsive" />
                                <br />
                                <p><strong>Motive:</strong> Lossless Data Compression Algorithms are compared for various text data using parameters like compression ratio, compression time, saving percentage & entropy.</p>
                                <p><strong>Tools:</strong> Signal Processing Algorithms, MATLAB.</p>
                                <br />
                                <br />

                                <h2>3D Object Reconstruction Using XBOX Kinect V2.0</h2>
                                <div class="h-50"></div>
                                <br /> <img src="{% static 'app/img/portfolio/02.jpg' %}" alt="" class="img-responsive" />
                                <br />
                                <p><strong>Motive:</strong> To create a good 3D model for an object with irregular surfaces present in an indoor environment.</p>
                                <p><strong>Tools:</strong> XBOX Kinect V2, MATLAB, Image Processing Algorithms.</p>
                                <br />
                                <br />


                                <h2>Hand Gesture Recognition using Morphological Operations</h2>
                                <div class="h-50"></div>
                                <br /> <img src="{% static 'app/img/portfolio/04.jpg' %}" alt="" class="img-responsive" />
                                <br />
                                <p><strong>Motive:</strong> To extract hand gestures in a noisy environment using Morphological Image Processing Algorithms.</p>
                                <p><strong>Tools:</strong> Gesture Recognition, Image Processing Algorithms, MATLAB, Erosion, Dilation.</p>
                                <br />
                                <br />
                            </div>
                        </div>
                    </div>
                </div>

    </div>

        <!-- jQuery -->
    <script src="{% static 'app/js/jquery.js' %}"></script>
    <!--  plugins  -->
    <script src="{% static 'app/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'app/js/plugins.js' %}"></script>
    <script src="{% static 'app/js/aos.js' %}"></script>
    <script src="{% static 'app/js/jquery.form.js' %}"></script>
    <script src="{% static 'app/js/jquery.validate.min.js' %}"></script>

    <!--  main script  -->
    <script src="{% static 'app/js/custom.js' %}"></script>

</body>

<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
    <div class="footer-copyright text-center py-3"><strong>Copyright © 2019 Devu Vinay Kanth || Designed using Django & Deployed using AWS</strong></div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

</html>