<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vinay Kanth Devu</title>
    <link rel="icon" href="../../static/app/img/favicon.jpg" type="image/x-icon">
    <!-- Bootstrap -->
    <link href= "{% static 'app/css/bootstrap.min.css' %}" type="text/css" rel="stylesheet">
    <link href="{% static 'app/ionicons/css/ionicons.min.css' %}" rel="stylesheet">
    <link href="{% static 'app/css/animate.min.css' %}" rel="stylesheet">
    <link href="css/aos.css{% static 'app/css/aos.css' %}" rel="stylesheet">
    <!-- main style -->
    <link href="{% static 'app/css/style.css' %}" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <!-- Preloader -->
    <div id="preloader">
        <div id="status">

            <div class="preloader" aria-busy="true" aria-label="Loading, please wait." role="progressbar">
            </div>

        </div>
    </div>
    <!-- ./Preloader -->
    
    <!-- header -->
    <header class="navbar-fixed-top">
        <nav>
            <ul>
                <li><a href="#about">About</a></li>
                <li><a href="#experience">experience</a></li>
                <li><a href="#projects">projects</a></li>
                <li><a href="#contact">contact</a></li>
            </ul>
        </nav>
    </header>
    <!-- ./header -->
    <div class="home body-content">
{% block content %}{% endblock %}
            <hr/>
    </div>
</body>
</html>
